@media print{BODY{display:none;}}
.morestyle201318{ font-size: 9pt ;}
.leaderfont201318{ font-size: 9pt; color: #222222; line-height: 150% ;}
.titlestyle201318{ line-height: 200%; color: #666; font-size: 14px; text-decoration: none ;}
.timestyle201318{ font-size: 9pt ;}
.winstyle201318{ margin-top: 23px ;}

